<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSI.GeoVision.Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SSI.GeoVision.Wizard.Properties.Settings>
            <setting name="AppHostname" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="AppUsername" serializeAs="String">
                <value>ADM</value>
            </setting>
            <setting name="DeviceHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DevicePort" serializeAs="String">
                <value />
            </setting>
            <setting name="NodeName" serializeAs="String">
                <value />
            </setting>
            <setting name="NodeDescription" serializeAs="String">
                <value />
            </setting>
        </SSI.GeoVision.Wizard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>